<navbar></navbar>
<div class="container my-3">
  <div class="row animate__animated animate__backInDown">
    <div class="mb-2">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-items">
          <a *ngIf="categorylistpanel" (click)="hideCategoryList()"
            ><i class="fa-solid fa-angles-left"></i>
          </a>
          <a *ngIf="!categorylistpanel" (click)="showCategoryList()"
            ><i class="fa-solid fa-angles-right"></i
          ></a>
        </li>
      </ul>
    </div>
    <div
      class="col-3 animate__animated animate__backInLeft"
      *ngIf="categorylistpanel"
    >
      <category-list></category-list>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
